@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Ubuntu:wght@400;700&display=swap");

.container {
  max-width: 1160px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}
.header_background {
  background: #5e5d5899;
}
.header_nav {
  display: flex;
}
.header_nav_menu {
  display: flex;
  font-weight: 700;
  color: #ffffff99;
}
.header_nav_logo {
  margin-right: 305px;
}
.header_nav_menu {
  margin: 45px 380px 45px 0px;
  gap: 21px;
}
.header_nav_menu :hover {
  color: #18cfab;
}
.header_section {
  background-image: url("../img/header_background.png");
  background-attachment: fixed;
  margin-bottom: 8px;
}
.header_display p,
a {
  color: white;
}
.header_display_text1 {
  font-weight: 700;
  font-size: 35px;
}
.header_display_text1 span {
  color: #18cfab;
}
.header_display_text2 {
  font-weight: 700;
  font-size: 78px;
}
.header_display_text3 {
  font-weight: 300;
  font-size: 34px;
}
.header_display {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header_display_text {
  margin: 251px 0 134px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_display_buttons {
  display: flex;
  gap: 26px;
  margin-bottom: 243px;
}
.header_display_buttons a {
  background-color: white;
  border-radius: 8px;
  height: 64px;
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  font-size: 15px;
}
.main_boxes_section {
  margin-bottom: 85px;
}
.header_display_button1 {
  background-color: #18cfab;
  padding: 16px 18px;
  border-radius: 8px;

  height: 59px;
}
.header_display_button2 {
  background-color: #00cbf6;
  padding: 16px 11px;
  border-radius: 8px;
  height: 59px;
}
.main_boxes_wrap {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 377px);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.main_boxes_item {
  background-color: #1c2a33;
  color: #18cfab;
}
.item2 {
  background-color: #18cfab;
  color: white;
}
.main_boxes_wrap a {
  display: flex;
  margin-top: 98px;
  align-items: center;
  flex-direction: column;
}
.main_boxes img {
  margin-bottom: 48px;
  height: 75px;
}
.main_our_services {
  margin-bottom: 91px;
}
.main_our_services_name h3 {
  font-size: 36px;
  margin-bottom: 24px;
}
.main_our_services_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.main_our_services_buttons_wrap {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 76px);
  margin-bottom: 23px;
  color: #717171;
  cursor: pointer;
}

.main_our_services_buttons_content {
  display: flex;
  flex-direction: row;
}
.main_our_services_buttons_content {
  font-weight: 300;
  font-size: 13px;
  line-height: 24.366px;
}



.main_our_services_buttons_content img {
  margin-right: 15px;
}
#main_our_services_img{
  height: 146px;
  width: 192px;
}

.main_our_services_button {
  background-color: #f8fcfe;
  border: #edefef solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main_our_services_button_cursor{
  padding: 15px 15px;
  background-color: #18CFAB;
  transform: rotate(45deg);
  position: absolute;
  top: 55px;
  
}
.deactive{
  display: none;

}

.services_button_active{
  background-color: #18cfab;
  color: white;
}
.main_our_services_buttons_wrap :hover {
  border: #18cfab solid 1px;
}
.purchase_advertisement {
  background-image: url("../img/Layer\ 21\ 1\ \(2\).png");
  background-color: #1c2a33;
}

.purchase_advertisement_button {
  background-color: #18cfab;
  padding: 16px 18px;
  border-radius: 8px;
  height: 59px;
}
.purchase_advertisement_button_wrap a {
  background-color: white;
  border-radius: 8px;
  height: 64px;
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  font-size: 15px;
}
.purchase_advertisement_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 127px;
}
.purchase_advertisement_wrap h4 {
  font-weight: 700;
  margin: 126px 0 12px 0;
  font-size: 40px;
  color: #18cfab;
}
.purchase_advertisement_wrap p {
  font-weight: 300;
  color: #d8d8d8;
  margin-bottom: 67px;
}

.main_work {
  background-color: #e9edef;
}
.main_work_name {
  font-size: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.main_work_name h5 {
  padding-top: 95px;
  margin-bottom: 20px;
  color: #4e4e4e;
}
.main_work_buttons_wrap {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 80px repeat(4, 170px);
  grid-template-rows: repeat(1, 62px);
  color: #717171;
}


.main_work_button:hover {
  border: 1px solid #18cfab; 
  
}


.main_work_button {
  border: 1px solid #dadada;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 18px;
  flex-direction: row;
}
.main_work_buttons {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 70px;
}

.main_work_content_wrap {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows:  211px 206px 206px ;
  grid-template-columns:repeat(4, 285px);
  padding-bottom: 70px;
  
}
.main_work_load {
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.main_work_load div {
  background: #18cfab;
  width: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5 px;
  color: white;
  cursor: pointer;
}
.imgSizer{
width: 285px;
height: 206px;
}
.main_work_load img {
  padding: 22px 15px 22px 22px;
}
.main_work_load p {
  padding-right: 22px;
}
.main_breaking_news_items {
  position: relative;
}
.main_work_content_cell_first {
  border-top: 6px solid #18cfab;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_work_content_cell_first p {
  font-weight: 700;
  color: #18cfab;
  padding-top: 24px;
  padding-bottom: 8px;
}

.main_work_content_cell_first span {
  color: #8a8a8a;
  font-weight: 300;
  font-size: 12px;
}
.main_breaking_news_name {
  display: flex;
  padding: 82px 68px;
  font-size: 36px;
  align-items: center;
  flex-direction: column;
}
.main_breaking_news_name h6 {
  padding-bottom: 26px;
}
.main_breaking_news_items_wrap {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 263px);
  grid-template-rows: repeat(2, 208px);
  gap: 117px 35px;
  padding-bottom: 130px;
}

.main_breaking_news_items p {
  font-weight: 700;
  font-size: 18px;
  color: #717171;
  padding: 10px 10px;
}
.main_breaking_news_items span {
  font-weight: 300;
  color: #777777;
  padding: 0px 15px;
}
.main_breaking_news_items_date {
  height: 70px;
  width: 68px;
  background-color: #203e38;

  position: absolute;
  left: 195px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main_breaking_news_items_date p,
.main_breaking_news_items_date span {
  padding-bottom: 10px;
  color: white;
}
.main_breaking_news_items:hover .Amazing_Blog_Post {
  color: #18cfab;
}

.main_breaking_news_items:hover .main_breaking_news_items_date {
  background-color: #18cfab;
}
.main_review {
  background-image: url("../img/review/reviewBackground.png");
  background-color: #22353f;
}
.main_review_title,
.review_comment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main_review_title h5 {
  font-size: 36px;
  color: white;
  margin-bottom: 26px;
  margin-top: 98px;
}
.line {
  margin-bottom: 68px;
}
.review_comment_text {
  margin-top: 38px;
  margin-bottom: 38px;
  color: #bbbbbb;
  font-weight: 300;
  font-size: 16px;
}
.review_comment h6 {
  color: #18cfab;
  font-weight: 700;
  padding-bottom: 13px;
}
.review_comment_role {
  font-size: 13px;
  color: #bbbbbb;
  font-weight: 300;
  margin-bottom: 38px;
}
.active_image {
  height: 143px;
  width: 143px;
  margin-bottom: 51px;
  
}
.review_menu_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 98px;
}

.review_menu_nav_arrow {
  padding: 15px 15px 15px 15px;
  border: 1px solid #bbbbbb;
  background-color: none;
  cursor: pointer;
}


.review_menu_nav_arrow:hover {
  background-color: #18cfab;
}
footer {
  background-color: #22353f;
  font-weight: 300;
  font-size: 14px;
}
.footer_main {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: #aeaeae;
  padding: 48px 0 48px 0;
}
footer span {
  color: #18cfab;
}

.sortDeacrive{
  display: none;
}
.review_menu_user{
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.activeUser{
  transform: translateY(-15px);
}